:root{
    --primario: #FFC107;
    --segundario: #0097A7;
    --gris: #757575;
    --blanco: #FFFFFF;
    --oscuro:#212121;

}/*Normalmente se guarda las variables de colores en la pagina*/

html{
    font-size: 62.5%;
}

body{
    
    font-size: 16px;/* 1rem = 10px */
    font-family: 'krub', sans-serif, Roboto;/*video 27*/
    
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    text-transform: uppercase;

}

.titulo span{
    font-size: 2rem;
    text-transform: capitalize;/*Mi formato marca*/
    
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.navegacion-principal {
    padding: 1rem;
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    
}
.nav-bg{
    background-color: var(--segundario);
}

