html{
    font-size: 62.5%;
}

body{
    
    font-size: 16px;/* 1rem = 10px */
    
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    text-transform: uppercase;
    color: blue;

}

.titulo span{
    font-size: 2rem;
    text-transform: capitalize;/*Mi formato marca*/
    color: red;
}

span{
    color: green;
}